.p-button
{
  padding: 0px 10px 0px 10px !important;
  margin-top: 10xp;
} 
.p-button.p-button-icon-only
{
  width: 2rem !important;
}

.con{
    border-radius: 10px;
    width: 50%;
    /* height: 100%; */
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    box-shadow: red(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-top: 20px;
  }
    

    table { 
        width: 50%; 
        border-collapse: collapse;
        /* box-shadow: red(0, 0, 0, 0.35) 0px 5px 15px; */
        
      }
      /* Zebra striping */
      tr:nth-of-type(odd) { 
        background: #eee; 
    
      }

      th { 
        background: grey; 
        color: white; 
        font-weight: bold;
        
      }
      /* td, th { 
        border-collapse: collapse;
        border: 1px solid black; 
        text-align: center;
        
    } */


    .exp-main{
      color: rgb(20, 20, 20);
    font-size: 33px;
    font-weight: 600;
    }

   /* .MuiTableBody-root tr:hover{
      color:#15ec0a;
      transform: translate(-2px,-2px);
  }  */

  /* .background-ExperienceHr{
    background: #b8b2b2 url(background.jpeg);
    background-size: cover;
    min-width: 100%;
    min-height:100%;
    position: absolute;
    background-position: center;
  } */
  
  .hrtable{

height: 2px;
width: auto;
margin-bottom : 20px;
font-size: 14px;

  } 

  .download{
    width: 100px;
    padding: 1.5px;
    background-color: green;
    border-radius: 5px; 
    font-weight: 500;
    color: white;

  }
  .MuiSvgIcon-root
  {
    height: 0.8em;

  }
  .filtb
  {
    margin-top: px;
  }
  .Search{
    width: 300px;
 
  }
  select:disabled {
    opacity: 16;
    margin-top: 20px;
}


  
  .row_search{
    display: flex;
    width: 100%;
    justify-content: space-between;

  }
.td{
border-collapse: collapse;
color: aqua;
height:"200px"
  }
 
  .custom-button {
     
    height: 30px;

  }
  .MuiTableCell-root
  {
    padding: 0px !important;
  }


  /* form */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: grey;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
 
  .form_assignto{
    width: 50px;
  }