.con{
    border-radius: 10px;
    width: 50%;
    /* height: 100%; */
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    box-shadow: red(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
    

    table { 
        width: 50%; 
        border-collapse: collapse;
        /* box-shadow: red(0, 0, 0, 0.35) 0px 5px 15px; */
        
      }
      /* Zebra striping */
      tr:nth-of-type(odd) { 
        background: #eee; 
    
      }

      th { 
        background: grey; 
        color: white; 
        font-weight: bold;
        
      }
      /* td, th { 
        border-collapse: collapse;
        border: 1px solid black; 
        text-align: center;
        
    } */


    .exp-main{
      color: rgb(20, 20, 20);
    font-size: 33px;
    font-weight: 600;
    }

   /* .MuiTableBody-root tr:hover{
      color:#15ec0a;
      transform: translate(-2px,-2px);
  }  */

  /* .background-ExperienceHr{
    background: #b8b2b2 url(background.jpeg);
    background-size: cover;
    min-width: 100%;
    min-height:100%;
    position: absolute;
    background-position: center;
  } */
  
  .hrtable{

height: 2px;
width: auto;
margin-bottom : 20px;

  } 

  .download{
    width: 100px;
    padding: 1.5px;
    background-color: green;
    border-radius: 5px; 
    font-weight: 500;
    color: white;

  }
  .MuiSvgIcon-root
  {
    height: 0.8em;

  }
  .filtb
  {
    margin-top: px;
  }
  .Search{
    width: 300px;
 
  }

  
  .row_search{
    display: flex;
    width: 100%;
    justify-content: space-between;

  }
.td{
border-collapse: collapse;
border:1px solid black;
  }
 
  .tablecolor {
    background: #1111ff;
    height: 76px;
    /* width: 182px; */
  }
  .satustable {
    width: 95px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.87);
    border-bottom:  1px solid #ccc;;
  }