/* Button */

.btn{
    text-align: center;
}
.Modal_head{
    font-size: 20px;
    padding-right: 20px;
    font-weight: 600;
}
.MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 4.5rem;
}
.MuiTableRow-root MuiTableRow-head{
height: 20px;
}
